.input {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;

  &__control {
    border: none;
    font-size: 19px;
    color: #333;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #999;
    }
  }
}
