@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal {
  visibility: hidden;

  &_isOpen {
    visibility: visible;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);

    animation-name: opacityAnimation;
    animation-duration: 1s;
  }

  &__container {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 3px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    background-color: white;

    overflow: auto;

    width: 500px;
    max-width: 100%;

    height: 720px;
    max-height: 100%;
    animation-name: opacityAnimation;
    animation-duration: 1s;
  }
}
