.create-account {
  overflow: auto;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #bdc7d8;
  }

  &__body {
    padding: 20px 15px 25px;
    display: grid;
    grid-gap: 10px;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: #1d2129;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: #999;
    font-size: 20px;
  }

  &__row-title {
    margin-top: 4px;
    margin-bottom: 1px;
    color: #1d2129;
    font-weight: bold;
    font-size: 12px;
  }

  &__row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  &__description {
    margin-top: 10px;

    color: #777;
    font-size: 14px;
    line-height: 1.34;
  }

  &__submit {
    padding: 7px 20px;
    margin: 0 auto 10px;
    background-color: #69a74e;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
  }

  &__have-account {
    font-size: 20px;
    margin: 0 auto;
  }
}
