.option {
  font-size: 19px;
  color: #333;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  &__label {
    user-select: none;
  }

  &_active {
    border: 1px solid #365899;
  }
}
